/* Paste in code from your old files to save time and avoid typos! */
@import url('https://fonts.googleapis.com/css?family=Archivo+Black');
body {
	height: 100vh;
	width: 100vw;
	display:block;
	margin:0;
	
}

.row-1 {
	height: 10vh;
	width: 100vw;
	background-color:black;
	text-align:center;
	color:white;
	font-family:'Archivo Black', sans-serif;
	font:50px;
}

.row-2 {
	height: 50vh;
	width: 100vw;
	display: flex;
	
}
.row-3 {
	height:40vh;
	width:100vw;
	background-color:black;
	text-align:center;
	color:white;
	font-family:'Archivo Black', sans-serif;
	font:50px;
}
}

.black1{
	background-color:black;
	height:100%;
	width:5%;
	margin:1;
}
.white1{
	height: 100%;
	width: 10%;
}
img{
	margin:auto;
	max-width:100%;
	max-height:100%;
	width:auto;
	height:auto;
}
.black2{
	background-color:black;
	height:100%;
	width:5%;
}
.white2{
	height:100%;
	width:10%;
}
.white3{
	background-color:white;
	height:100%;
	width:10%;
}
.black3{
	background-color:black;
	height:100%;
	width:5%;
}
.white4{
	background-color:white;
	height:100%;
	width:10%;
}
.black4{
	background-color:black;
	height:100%;
	width:5%;
}
.white5{
	background-color:white;
	height:100%;
	width:10%
}
.black5{
	background-color:black;
	height:100%;
	width:5%;
}
.white6{
	background-color:white;
	height:100%;
	width:10%;
}
.black6{
	background-color:black;
	height:100%;
	width:5%
}
.white7{
	background-color:white;
	height:100%;
	width:10%;
}
.black7{
	background-color:black;
	height:100%;
	width:5%;
}
.black8{
	background-color:black;
	height:100%;
	width:5%;
}
.textbox{
	height:100%;
	width:100%;
}
.suga{
	background-image:url(sugafirstlove.gif);
	font-size:100%;
	width:100%;
	height:100%;
	

}
.V{
	background-image:url(https://i.pinimg.com/originals/83/06/e8/8306e831ea90fff52cad0b6c5e11b87a.gif);
	font-size:100%;
	width:100%;
	height:100%;
	
}
.jk{
	background-image:url(https://3.bp.blogspot.com/-92u8wOQNdvw/V82whJ7zkqI/AAAAAAAAEOg/yLkRL6wo42Ix1lEelUGWB1nx7J73vSFWgCLcB/s1600/1stvideo15.gif);
	font-size:100px;
	width:100%;
	height:100%;
	
}
.rm{
	background-image:url(http://pa1.narvii.com/6410/f2491a60753b5de72438f7f8308911cc580443bc_hq.gif);
	width:100%;
	height:100%;
}
.jin{
	background-image:url(https://78.media.tumblr.com/9600ab5943887133fd48858645c749d5/tumblr_odegdwrDIW1tk7ffbo2_540.gif);
	width:100%;
	height:100%;
}
.jhope{
	background-image:url(https://78.media.tumblr.com/4f2d8e290ba04c53a6002b3cb59cefc3/tumblr_okbv1tVzkk1v8zdllo3_540.gif);
	width:100%;
	height:100%;
}
.jimin{
	background-image:url(http://68.media.tumblr.com/7cd011946a3947f96b7845341bb880ab/tumblr_od1e3qgOfI1sz0j5io1_500.gif);
	width:100%;
	height:100%;
}
img:hover {
	opacity: 0.8;}
visibility: visible|hidden|collapse|initial|inherit;


@media screen and (max-width: 800px){
	.row-1 {/*dont touch this except for the colors*/
	height: 8vh;
	width: 100vw;
	background-color:black;
	text-align:center;
	color:white;
	font-family:'Archivo Black', sans-serif;
	font:50px;
	}

	.row-2 {
	height: 60vh;
	width: 100vw;
	display:inline-block;
	
	}
	.row-3 {
	height:30vh;
	width:100vw;
	background-color:black;
	}
	img{
	display:block;
	margin:auto;
	max-height:100%;
	max-width:100%;
	width:auto;
	height:auto;
	}
	.white1{
	height: 30%;
	width: 100%;
	
	}
	.white1 img{
		content:url(https://78.media.tumblr.com/3badd65e6decf4624c84f93578b48317/tumblr_or4dwiEJip1u3gvxdo1_500.png);
	}
	.black1{
	background-color:black;
	height:02%;
	width:100%;
	}
	.white2{
		background-color:white;
		height:30%;
		width:100%;
	}
	.white2{
		content:url(https://avatanplus.com/files/resources/mid/5839f3c67ab96158a2603f67.png);
		width:50%;
		margin-left:120px;
	}
	.black2{
	background-color:black;
	height:02%;
	width:100%;
	}
	.white3{
	background-color:white;
	height: 30%;
	width: 100%;
	
	}
	.white3 img{
		content: url(https://ih0.redbubble.net/image.316906399.0144/ap,550x550,12x12,1,transparent,t.u4.png)
	}
	.black3{
	background-color:black;
	height:02%;
	width:100%;
	}
	.white4{
	background-color:white;
	height: 30%;
	width: 100%;
	
	}
	.white4 img{
		content:url(https://thegoodthebadthebias.weebly.com/uploads/8/6/6/1/86618066/tumblr-o0hxb4bhrc1umg119o4-250.png)
	}
	.black4{
	background-color:black;
	height:02%;
	width:100%;
	}
	.white5{
	background-color:white;
	height: 30%;
	width: 100%;
	
	}
	.white5 img{
		content: url(https://avatanplus.com/files/resources/mid/583de105994af158b1b6fdfc.png);
	}
	.black5{
	background-color:black;
	height:02%;
	width:100%;
	}
	.white6{
	background-color:white;
	height: 30%;
	width: 100%;
	
	}
	.white6 img{
		content: url(https://avatanplus.com/files/resources/mid/583c7d8d9f4e7158ac4a7155.png);
	}
	.black6{
	background-color:black;
	height:02%;
	width:100%;
	}
	.white7{
	background-color:white;
	height: 30%;
	width: 100%;
	
	}
	.white7 img{
		content: url(https://avatanplus.com/files/resources/mid/583c7e0f840ff158ac4c6cb5.png);
	}
	.black7{
	background-color:black;
	height:02%;
	width:100%;
	}
	.black8{
	background-color:black;
	height:02%;
	width:100%;
	}
}
